<!-- <div  class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"> -->
  <div style="margin-top: 10%;margin-left: 35%;margin-right:36%;">
    <div *ngIf="loginMessageBol" class="lgMessage">
      <p>{{loginMessage}}</p>
    </div>
  </div>

  <div class="login-wrapper" style="margin-top: 2%;margin-left: 35%; position: fixed;width: 100%;">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="font-family:'Times New Roman', Times, serif;">Log in</mat-card-title>
      </mat-card-header>

      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="text" [(ngModel)]="username" name="username" id="username" matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="password" [(ngModel)]="password" name="password" id="password" matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="logIn()">Log in</button>
      </form>
    </mat-card>
    <!-- <ul>
    <li *ngFor="let u of __users">
      ID:{{u._id}},
      Username:{{u.username}},
      Password:{{u.password}}
    </li>
  </ul> -->
  </div>
